<div class="eb-navbar">
    <nav class="bg-eb-primary py-3 px-5 flex justify-between">
        <div class="title animate__animated animate__fadeInLeft">
            <h1 class="text-white text-[25px] font-bold tracking-[.09em]">ESPERBOOKS</h1>
        </div>
        <div class="relative -bottom-3.5 animate__animated animate__fadeInRight">
            <div class="tab flex gap-10 text-base font-semibold text-eb-primary-3 justify-center">
                <div *ngFor="let nav of navigation; let i = index">
                    <button
                        [ngClass]="i === 1 ? 'text-white border-b-[3px] border-b-eb-danger' : ''">{{nav.name}}</button>
                </div>
            </div>
        </div>
        <div class="nav-buttons flex gap-3 font-semibold text-base">
            <button
                class="py-1 px-5 bg-inherit border rounded-md text-white hover:bg-white hover:text-black">Logout</button>

        </div>
    </nav>
</div>