<div class="wrapper">
    <div class="form-field">
        <!-- <label for="project" class="block mb-2 text-sm font-medium text-gray-900 ">Select Project</label> -->
        <select id="project"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg h-12 block w-2/6 p-2.5">
            <option selected disabled>Select Project</option>
            <option *ngFor="let project of projectOptions" [value]="project">{{project}}</option>
        </select>
    </div>
    <div class="text-eb-secondary-1 font-semibold mt-10">
        <h1 class="text-4xl">{{ '{Default/Selected Project Name}' }}</h1>
    </div>
    <div class="mt-10">
        <div class="flex my-10 items-center justify-between">
            <div class="flex gap-5">
                <div>
                    <button id="states-button" data-dropdown-toggle="dropdown-states" class="btn-primary flex gap-3"
                        type="button">

                        Options
                        <svg class="hover: fill-eb-primary" width="25" height="24" viewBox="0 0 25 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 17L15.5 12L10.5 7V17Z" fill="white" />
                        </svg>
                    </button>
                    <div id="dropdown-states"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                        <ul class="text-sm " aria-labelledby="states-button">
                            <li>
                                <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown"
                                    data-dropdown-placement="right-start" type="button"
                                    class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 ">Export
                                    PDF/XLS<svg aria-hidden="true" class="w-4 h-4" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg></button>
                                <div id="doubleDropdown"
                                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                        aria-labelledby="doubleDropdownButton">
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">PDF</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Excel</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <button type="button"
                                    class="inline-flex w-full px-4 py-2 text-sm hover:bg-eb-primary-4 hover:text-eb-primary">
                                    <div class="inline-flex items-center">
                                        Journal/Ledger
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>

                <button [routerLink]="['new-deliverable']" class="btn-danger-alt px-10" type="button">New
                    Event</button>

                <button [routerLink]="['new-deliverable']" class="btn-primary-alt px-10" type="button">New
                    Activity</button>
            </div>



        </div>

        <div class="eb-card mt-3">
            <div class="flex justify-end pt-5">
                <div class="flex items-center cursor-pointer mr-10">
                    <div class="mr-3 text-sm font-medium text-gray-900">Table</div>
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input (click)="toggleViewMode()" type="checkbox" [checked]="ganttChartMode"
                            class="sr-only peer">
                        <div
                            class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600">
                        </div>
                        <span class="ml-3 text-sm font-medium text-gray-900">Gantt</span>
                    </label>
                </div>
            </div>
            <ng-container *ngIf="!ganttChartMode; else GanttChart">
                <eb-table [customStyle]="'shadow-none pt-0'" [enableCheckbox]="true" [columnProps]="transactionProps"
                    [rows]="transactionRows">
                </eb-table>
            </ng-container>
            <ng-template #GanttChart>
                <div class="p-10">
                    <eb-gantt-chart></eb-gantt-chart>
                </div>
            </ng-template>
        </div>
    </div>
</div>